<footer class="page-footer blue-grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Gerador de Curriculos</h5>
        <p class="grey-text text-lighten-4">Faça um curriculo bonito e bem apresentavel!</p>
      </div>
      <div class="col l4 offset-l2 s12">

          <a href="#"><i class="medium material-icons social" id="social-fb">face</i></a>
          <a href="#"><i class="medium material-icons social" id="social-gb">stars</i></a>
          <a href="#"><i class="medium material-icons social" id="social-ln">folder_shared</i></a>

      </div>
    </div>
  </div>
<div class="footer-copyright  blue-grey darken-3">
  <div class="container center-align">
  <p class="txt-railway">- Copyright &copy ManoJobs Corporation -</p>

  </div>
</div>
</footer>
