<div class="navbar">
  <nav class="cyan darken-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">ManoJobs Corporation</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
  </nav>
</div>
