<div class="nested-fields">

    <div class="col-md-12 input-group">
        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
        <%= f.text_field :language_idiom, class:"form-control", placeholder:"Inglês, Português, outra..." %>
        <div class="input-group-btn">
          <%= link_to_remove_association f, :class => "btn btn-warning"  do %>
              <i class="fa fa-times"></i>
          <% end %>
        </div>
    </div>

</div>
