<div class="nested-fields">

        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
            <%= f.text_field :phone_user, class:"validate",id:"phone",  placeholder:"(845)555-121" %>
            <%= f.label :telefone, for:"phone"%>
              <%= link_to_remove_association  f, class: 'btn-floating btn-medium red' do %>
                   <i class="material-icons ">delete</i>
              <% end %>
        </div>

</div>
