<div class="nested-fields">
    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
    <%= f.text_field :language_idiom, class:"form-control" %>
    <%= link_to_remove_association('Remover', f)%>
</div>
