<div class="container-fluid">
    <hr>
        <footer class="text-center center-block">

            <p class="txt-railway">- Copyright &copy ManoJobs Corporation -</p>
            <br />
              <a href="#"><i class="fa fa-facebook-square fa-3x social" id="social-fb"></i></a>
              <a href="#"><i class="fa fa-github-square fa-3x social " id="social-gb"></i></a>
              <a href="#"><i class="fa fa-linkedin-square fa-3x social " id="social-ln"></i></a>
      </footer>
    <hr />
</div>
